.container
  .row
    .col-lg-12
      .col-lg-4.nopadding
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              Chatrooms(#{@room_count})
          .panel-body
            - if !@rooms
              - if !user_signed_in?
                = link_to "Create a Chatroom", new_user_session_path(), class: "btn btn-warning chatroom right margin-vertical"
            - else
              = render @rooms
            - if user_signed_in?
              = link_to "Create a Chatroom", new_room_path(), class: "btn btn-warning chatroom right margin-vertical"
      .col-lg-8{:style => "padding-right:0px;"}
        .bs-component
          .alert.alert-dismissible.alert-success
            - if user_signed_in?
              %button.close{"data-dismiss" => "success", :type => "button"} ×
              %strong
                Join or create a chatroom
            - else
              %button.close{"data-dismiss" => "alert", :type => "button"} ×
              %strong
                Please #{link_to "Sign up", new_user_registration_path, "style": "color:white;text-decoration:underline"} or #{link_to "Login", new_user_session_path,"style": "color:white;text-decoration:underline"}
              in order to join a chatroom or create one.
