<div class="container">
	<div class="row">
		<div class="col-lg-12">
			
			<div class="col-lg-4 nopadding">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Chatrooms</h3>
						<form class="margin-vertical nopadding" role="search">
							<div class="form-group">
								<input class="form-control" placeholder="Search for chatroom" type="text">
							</div>
						</form>
					</div>
					<div class="panel-body">
						<% if !@rooms %>
						<% if !user_signed_in? %>
						<%= link_to "Create a Chatroom", new_user_session_path(), class: "btn btn-warning chatroom right margin-vertical" %>
						<% end %>						<% else %>
						<%= render @rooms %>
						<% end %>
						<% if user_signed_in? %>
						<%= link_to "Create a Chatroom", new_room_path(), class: "btn btn-warning chatroom right margin-vertical" %>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-lg-8 ">
				<div class="bs-component">
					<div class="alert alert-dismissible alert-success">
						<% if user_signed_in? %>
						<button type="button" class="close" data-dismiss="success">×</button>
						<strong>Join or create a chatroom
							<% else %>
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Please <%= link_to "Sign up", new_user_registration_path, "style": "color:white;text-decoration:underline" %></a> or <%= link_to "Login", new_user_session_path,"style": "color:white;text-decoration:underline" %></a></strong> in order to join a chatroom or create one.
							<% end %>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

