<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Chatapp", root_path, class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li><p class="navbar-text pull-right">
              <% if user_signed_in? %>
              Welcome, <strong><%= current_user.name %></strong>
              <% if current_user.avatar.url.present? %>
              <%= image_tag(current_user.avatar.url, style: "width:25px;border-radius:50%;") %>
              <% end %>
              <% end %>
            </li>
            <% #if !current_user.admin? %>
            <%#= "ahoj"%>
            <% #end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <% if user_signed_in? %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Edit profile', edit_user_registration_path %> </li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
              <% else %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>

              <ul class="dropdown-menu" role="menu">

                <li><%= link_to "Sign up", new_user_registration_path %></a></li>
                <li class="divider"></li>
                <li><%= link_to "Login", new_user_session_path%></li>
              </ul>
              <% end %>
            </li>
          </ul>
            <!--<form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input class="form-control" placeholder="Search" type="text">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>-->
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="notice">
          <% if flash[:notice] %>
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <b><%= flash[:notice] %></b>
          </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>